# Ignore node modules for both frontend and backend
**/node_modules/
**/package-lock.json

# Ignore environment files
**/.env

# Ignore build files (optional)
**/build/
**/dist/

# VSCode stuff
.vscode/
