/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

.register-container {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

input, select, textarea, button {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #949494;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

button:hover {
  background-color: #6fcee1;
}

button:disabled {
  background-color: #ccc;
}

p {
  text-align: center;
  color: #fbf8f8;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .register-container {
    padding: 15px;
    margin: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  input, select, textarea, button {
    font-size: 0.95rem;
  }

  label {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .register-container {
    width: 100%;
    padding: 10px;
    margin: 5px;
  }

  h2 {
    font-size: 1.2rem;
  }

  input, select, textarea, button {
    font-size: 0.9rem;
  }

  label {
    font-size: 0.85rem;
  }
}
